{% assign publications = site.data.publications %}
<div class="publication-list">
  <ul>
    {% for publication in site.data.publications %}
    <li class="publication-list-item">
      <span class="publication-list-authors">
        {% assign authors = publication.authors %}
        {% if authors.size > 0 %}
        {% for author in authors %}
        {% if author.id %}
        {% assign author_identifier = site.data.authors[author.id].name %}
        {% elsif author.name %}
        {% assign author_identifier = author.name %}
        {% endif %}
        {% unless forloop.last %}
        {% assign author_identifier = author_identifier | append: ',' %}
        {% endunless %}
        <span class="publication-author">{{ author_identifier }}</span>
        {% endfor %}
        {% endif %}
      </span>
      {% assign links = publication.links %}
      {% if links.size > 0 %}
      {% if links.size == 1 %}
      <span class="publication-title"> - <a class="publication-link"
          href="{{ link.url }}">{{ publication.title }}</a></span>
      {% else %}
      <span class="publication-title">{{ publication.title | prepend: " - " | append: " (" }}{% for link in links %}<a
          class="publication-link" href="{{ link.url }}">{{ link.type }}</a>{% unless forloop.last %}, {% else %}){%
        endunless %}{% endfor %}</span>
      {% endif %}
      {% else %}
      <span class="publication-title">{{ publication.title | prepend: ' - ' }}</span>
      {% endif %}
      <span class="publication-year">{{ publication.year | prepend: ' - ' }}</span>
    </li>
    {% endfor %}
  </ul>
</div>
